/* Styles globaux */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #343a40;
  transition: background-color 0.3s;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* En-tête */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-out;
}

header a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 15px;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
}

header nav a {
  font-size: 1.2em;
  margin: 0 15px;
  position: relative;
}

header nav a:hover {
  color: #d4f1d4;
}

header nav a:hover::after {
  width: 100%;
}

header nav a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: #d4f1d4;
  bottom: -4px;
  left: 0;
  transition: width 0.3s;
}

/* Cartes d'événements */
.event-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 0.6s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-image {
  width: 300px; /* ajustez cette valeur pour obtenir la largeur souhaitée */
  height: 200px; /* ajustez cette valeur pour obtenir la hauteur souhaitée */
  overflow: hidden;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ou 'contain' si vous préférez que l'image soit entièrement visible */
}

.event-info {
  width: 60%;
}
.event-card h3 {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 1.6em;
  color: #495057;
}
.event-card p {
  margin: 5px 0;
  padding: 0 20px;
  font-size: 1em;
  color: #6c757d;
}

.event-card a {
  display: inline-block;
  margin: 15px 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.event-button {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.event-card a:hover {
  background-color: #45a049;
}

/* Filtres */
.event-filter {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: calc(100% - 25px);
}

.search-bar input,
.event-filter select {
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  flex-grow: 1;
  transition: border-color 0.3s;
}

.search-bar input:focus,
.event-filter select:focus {
  border-color: #4CAF50;
  outline: none;
}

.search-bar input,
.event-filter select,
.event-filter button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.event-filter button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-filter button:hover {
  background-color: #45a049;
}

/* Formulaire de réservation */
.event-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.6s ease-out;
}

.event-form input,
.event-form button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.event-form input:focus {
  border-color: #4CAF50;
  outline: none;
}

.event-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-form button:hover {
  background-color: #45a049;
}

/* Panier */
.cart-page button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.cart-page button:hover {
  background-color: #45a049;
}

.cart-badge {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%; /* arrondir les coins */
  padding: 2px 5px; /* espace autour du texte */
  font-size: 12px; /* taille du texte */
  position: absolute; /* positionner la pastille par rapport à l'icône */
  top: -5px; /* positionner la pastille au-dessus de l'icône */
  right: -5px; /* positionner la pastille à droite de l'icône */
}

.cart-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 0.6s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item h3 {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 1.6em;
  color: #495057;
}

.cart-item h3:hover {
  cursor: pointer;
  color: #45a049;
}

.cart-item p {
  margin: 5px 0;
  padding: 0 20px;
  font-size: 1em;
  color: #6c757d;
}

.cart-item button {
  background-color: #f44336;
  color: white;
  border: none;
  margin: 15px 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-item button:hover {
  background-color: #d32f2f;
}

.cart-item input {
  width: 80px;
  padding: 5px;
  margin: 0px 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s;
  border: 2px solid #4CAF50;
}

.cart-item input:focus {
  border-color: #4CAF50;
  outline: none;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 25px;
  padding: 5px;
  margin: 0px 20px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
}

.minus, .plus {
  color: #4CAF50;
  cursor: pointer;
  font-size: 25px;
  margin: 0 6px;
  font-weight: bold;
}

.minus:hover, .plus:hover {
  color: #45a049;
}

.counter span:nth-child(2) {
  font-size: 16px;
  font-weight: bold;
  margin: 0 6px;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .event-filter {
    flex-direction: column;
    align-items: stretch;
  }

  .event-card {
    margin-bottom: 15px;
  }
}


/* Style pour la page de détails */
.event-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  animation: fadeIn 0.6s ease-out;
}

.event-detail img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 150px;
  object-fit: cover;
}

.event-detail-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-detail-info h2 {
  font-size: 2.2em;
  color: #343a40;
  margin-bottom: 10px;
}

.event-detail-info p {
  font-size: 1.1em;
  color: #6c757d;
  margin-bottom: 15px;
}

.event-detail-info .event-meta {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.event-detail-info .event-meta i {
  margin-right: 10px;
  color: #4CAF50;
}

.event-detail-form {
  flex: 1;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.event-detail-form h3 {
  font-size: 1.8em;
  color: #343a40;
  margin-bottom: 20px;
}

.event-detail-form input,
.event-detail-form button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.event-detail-form input:focus {
  border-color: #4CAF50;
  outline: none;
}

.event-detail-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-detail-form button:hover {
  background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
  .event-detail {
    flex-direction: column;
    align-items: center;
  }

  .event-detail-info,
  .event-detail-form {
    width: 100%;
  }
}

.event-detail-info .event-meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #6c757d;
}

.event-detail-info .event-meta i {
  margin-right: 10px;
  color: #4CAF50;
}
